/* ------------all website uses (universai)-----------------*/
*{
    font-family: Merriweather;
    
}
/*-------------------<Banner section>---------- */
.banner-title{
    border-radius: 16px;
    background: linear-gradient(180deg, #050505 0%, rgba(2, 0, 5, 0) 100%), url('../resources/Banner\ Image.png');
    width: auto;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.banner-items{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 210px;
}
.banner-sub-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    line-height: 95px;
    font-weight: 900;
    margin-top: 0%;
    

}
.banner-categories{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-top: 120px;
    
    
}
.banner-outlets{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}
.banner-all-categories{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding:0px;
  
}
.banner-images{
    margin: auto;
    text-align: center;
}
/***************************<main part>************************/
 
 .Vectory-bg{
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    border-radius: 16px;
    width: auto;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 120px;
 }
 .Vectory-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    padding-top: 140px;
    padding-left: 120px;


 }
 .Vectory-item1{
    padding-top: 100px;
 }
 .Vectory-sub-title{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 120px;

 }
 .primary-color{
    background-color: #F00;
    margin-left: 135px;
    color: #FFF;
    padding: 15px;
    font-size: 20px;
 }
 .Vectory-item2{
    padding-left: 220px;
    padding-top: 180px;
 }
 /*-------------------<party section>---------------- */


 .party-schedule{
    background: linear-gradient(180deg, rgba(252, 248, 2, 0.1) 0%, rgba(108, 240, 7, 0) 100%);
    width: auto;
    height: 400px;
    font-size: 32px;
    font-weight: 600;
    padding-top: 200px;
    margin-top: 20px;
    border-radius: 10px;
 }
 .party-schedule>p ,a{
    text-align: center;
    text-decoration: none;

 }
 .a-color{
    color: chartreuse;
 } 
 .party-schedule>button{
    margin-left: 45%;
 }
 /* ====================<offer offer offer>================ */


 .new-year-logo{
    display: flex;
    margin-left: 50px;
    margin-top: 25px;
 }
 .best-offer{
    display: flex;
    margin-left: 160px;
 }
 .new-year1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-right: 130px;
    
    
 }
 .new-year2{
    color:black;
    font-size: 48px;
    font-weight:900;
    
 }
 .new-year3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.Ellipse-1{
    border-radius: 463px;
    border: 15px solid #F00;
    
}
.new-year4{
    color: #F00;
   font-family: Inter;
   font-size: 48px;
   font-weight: 700;
   padding-left: 20px;

}
.new-year5{
    color: rgba(7, 2, 17, 0.60);

   font-family: Inter;
   font-size: 20px;
   font-weight: 400;
   padding-left: 20px;
   padding-top: 0px;
}
.image-1{
    padding-left: 20px;
}

/* -----------------holiday Discount offer--------------- */

.holiday-main{
    margin-top: 50px;
    width: 1600px;
    height: 900px;

}
.what-is-function{
    margin: auto;
    text-align: center;
    color: #070211;
    font-family: inter;
    font-size: 20px;
    padding-bottom: 0%;
    margin-bottom: auto;
    font-weight: 500;

}
.holidays{
    color: #F00;
    font-size: 50px;
    font-weight: 800;

}
.holidays-sale{
    margin-top: 0%;
    padding-top: 0%;
    text-align: center;
    color: #070211;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 0%;
    margin-bottom: 0%;

}
.heading-pg{
    margin-top: 5px;
    padding-top: 5px;
    width: 670px;
    color: rgba(7, 2, 17, 0.60);
    font-family: inter;
    font-size: 15px;
    margin: auto;
    font-weight: 500;

}
.third-main{
    margin-right: 160px;
    margin-top: 100px;
    width: 430px;
    height: 430px;
    float: right;
    background-image: url('../resources/Rectangle\ 1.png');
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.g-44{
    margin-top: 100px;
    width: 200px;
    width: 206.841px;
    height: 206.841px;
    float: left;
}
.holiday{
    display: flex;
    width: 100px;
    position: absolute;
}
.red-item{
    float: inline-end;
    width: 1320px;
    margin-top: 0%;
    height: 200px;
    background-color:#F00;
    text-align: center;
    border-radius: 16px 0px 16px 16px;
    margin-right: 160px;
}
.holidays-buy{
    width: 1320px;
    border-radius: 16px 0px 16px 16px;

}
.img-75{
    margin-top: 50px;
    fill: radial-gradient(49.96% 50% at 50% 50.23%, #000 0%, #FFF 100%);

}
.g-44 .img-44{
    width: 300px;
    margin-top: 90px;
    margin-left: 70px;
}

/* ----------------main part------------- */
.container-main-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-main-image> img{
    width:400px ;
    height: 300px;
    border: 2px solid #F00;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px orangered;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;

}
.container-content{
    padding-left: 190px;
}
.container-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
  

}
.container-sub-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.container-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.container-main-image> img:hover{
    filter: grayscale(1);
    transform: scale(1.03);

}

/* ---------------subscribe-section---------- */
.Subscribe-section{
    text-align: center;
    margin-top: 50px;
    background-color: #f2aaaafa;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
}
.Subscribe-items{
    font-size: 48px;
    font-weight: 900;
}
.Subscribe-description{
    font-size: 25px;
    font-weight: 400;
    font-family: Inter;
}

.btn-email{
    position: relative;
    width: 400px;
    padding: 100px;
   
}
input{
    border:1px solid black;
    border-radius:100px 0px 0px ;
    padding: 15px;
    background: #FFF;
    color: color: rgba(7, 2, 17, 0.30);;

}
button{
    background-color: #F00;
    color: #FFF;
    position: absolute;
    border: none;
    border-radius: 0px 0px 100px ;
    padding: 15px;
    
}

/* -----------------Footer-section----------------------- */
.footer-container{
    margin-top: 20px;
    color: #FFF;
    background-color: #070211;
    
}
.footer-title{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    

}
.footer-1{
    padding-left: 80px;
    
}
.footer-2{
    padding-right: 100px;
   

}  
.footer-2>img{
    margin-top: 3px;
    gap: 2px;
}
.footer-2> span{
    margin-bottom: 5px;
}


.world{
    padding-top: 10px;

}
hr{
    width: 50%;
    background-color: blue;
}

.footer-description{
    text-align: center;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
   
}
.footer-3{
    padding-left: 80px;
}
.footer-4{

    padding-right: 80px;

}
/* ===============<alhumdulliah projects complete>=========== */



 


